<!-- 
* Copyright 2016 Carlos Eduardo Alfaro Orellana
-->
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login</title>
	<link rel="stylesheet" href="~/apariencia/css/normalize.css">
	<link rel="stylesheet" href="~/apariencia/css/sweetalert2.css">
	<link rel="stylesheet" href="~/apariencia/css/material.min.css">
	<link rel="stylesheet" href="~/apariencia/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" href="~/apariencia/css/jquery.mCustomScrollbar.css">
	<link rel="stylesheet" href="~/apariencia/css/main.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="~/apariencia/js/jquery-1.11.2.min.js"><\/script>')</script>
	<script src="~/apariencia/js/material.min.js" ></script>
	<script src="~/apariencia/js/sweetalert2.min.js" ></script>
	<script src="~/apariencia/js/jquery.mCustomScrollbar.concat.min.js" ></script>
	<script src="~/apariencia/js/main.js" ></script>
</head>
<body class="cover">

    @if (Convert.ToString(Session["Error"]) == "si")
    {
        Session["Error"] = "no";
        <script language='javascript' type='text/javascript'>alert('Usuario o Contraseña Incorrecta');</script>
    }

    <div class="container-login">
        <p class="text-center" style="font-size: 80px;">
            <i class="zmdi zmdi-account-circle"></i>
        </p>
        <p class="text-center text-condensedLight">EBEN EZER</p>
        <form action="/Home/Index" method="post">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="user" name="user" required>
                <label class="mdl-textfield__label" for="userName">User Name</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="password" id="pass" name="pass" required>
                <label class="mdl-textfield__label" for="pass">Password</label>
            </div>
            <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="color: #3F51B5; float:right;">
                Sign in <i class="zmdi zmdi-mail-send"></i>
            </button>
        </form>
    </div>
</body>
</html>